html, body {
  height: 100%;
}

body {
    background-image: url("https://www.persumer.com/img/batik.jpg");
    height: 100%;
    margin-bottom: 50px;
}

nav .nav-wrapper { 
    padding-left: 20px;
}
.container {
    padding-bottom: 50px;
}

.heading {
    padding: 20px;
}

h3 {
    align-content: center;
    text-align: center;
}

.search {
    align-items: right;
}


h1 {
    margin: 10px;
}

h6 {
    margin: 10px;
}

.collapsible-header {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: small;
}

.flashes h5 {
    margin: 5px;
    padding: 10px;
    background-color: #fff3e0;
    color: black;
}

h5 {
    font-weight: bold;
}

.page-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.card-panel {
    background-color: lightgrey;
}

.dict_list {
    font-size: 200;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}