html, body {
  height: 100%;
}

body {
    background-image: url("https://github.com/MariskaS85/CIHC/blob/main/templates/images/batik-symbool-van-de-indonesische-identiteit-933.jpg?raw=true");
    height: 100%;
    margin: 0;
}

h3 {
    align-content: center;
    text-align: center;
}

.search {
    align-items: right;
}


h1 {
    margin: 10px;
}

h6 {
    margin: 10px;
}

.collapsible-header {
    display: flex;
    align-items: center;
}

.flashes h5 {
    margin: 5px;
    padding: 10px;
    background-color: greenyellow;
}

h5 {
    font-weight: bold;
}

.container {
    flex: 1 0 auto;
}

.page-footer {
    background-color: black;
    flex-shrink: 0;
}

.card-panel {
    background-color: lightgrey;
    padding: 5px;
}
.brand-logo {
    margin: 10px;
}