body {
    background-color: white;
}

h3 {
    align-content: center;
    text-align: center;
}

.search {
    align-items: right;
}


h1 {
    margin: 10px;
}

h6 {
    margin: 10px;
}

.collapsible-header {
    display: flex;
    align-items: center;
}

.flashes h5 {
    margin: 5px;
    padding: 10px;
    background-color: greenyellow;
}

h5 {
    font-weight: bold;
}