{% extends "base.html" %}
{% block content %}
<!--About page mainly with text about the CIHC -->
<div class="container">
<br>
<h3>CHINESE INDONESIAN HERITAGE CENTER</h3>
<p>De Stichting Chinese Indonesian Heritage Center (CIHC) is ontstaan vanuit het Koninklijk Instituut voor Taal-, Land- en Volkenkunde (KITLV) in Leiden en heeft als doel het erfgoed van de Chinezen uit Indonesië in Nederland te behouden en voor verlies te behoeden. Ook zet de stichting zich in om de kennis van de geschiedenis van deze bevolkingsgroep te bevorderen en vast te leggen.</p>

<h3>Erfgoed en schenkingen</h3>
<p>
Erfgoed is ieder materiaal dat een verdere invulling geeft van de geschiedenis en cultuur van de Chinezen uit Indonesië in Nederland. Dit erfgoed kan heel divers zijn. Het kunnen familiearchieven of bedrijfsarchieven zijn maar ook een enkele brief, ansichtkaarten, biografieën, opgeschreven verhalen, dagboeken of receptenboekjes. Beeldmateriaal zoals foto’s, fotoalbums, tekeningen en films horen ook bij het erfgoed. Een belangrijke aanvulling op de gangbare geschiedenis is de mondelinge geschiedenis of oral history. Het is ook een methode van wetenschappelijk onderzoek naar het verleden op basis van mondelinge overlevering. Daarbij gaat het om het systematisch verzamelen en vastleggen van individuele herinneringen door middel van reeksen vraaggesprekken. Oral-history-methoden kunnen delen van het verleden naar boven halen die in de collectieve herinnering of gangbare geschiedschrijving zijn verdrongen, over het hoofd gezien, of bewust buiten de boeken zijn gehouden.</p>
<p>
Het CIHC stimuleert om het erfgoed in welke vorm dan ook te bewaren, bijvoorbeeld in een familiearchief, te verzamelen en eventueel te schenken. Voorbeelden van schenkingen van erfgoedmateriaal aan het CIHC en andere instellingen zijn te vinden in de rubriek ‘Schenkingen’</p>

<h3>Publieksdagen en lezingen</h3>
<p>
Het CIHC zet zich in om de geschiedenis van de Chinezen uit Indonesië in Nederland vast te leggen. Het CIHC stimuleert om de geschiedenis te onderzoeken en doet ook zelf onderzoek. Verder wil het CIHC de kennis uitdragen aan een breed publiek. Iedere twee jaar organiseren wij de CIHC Publieksdag. Onderzoekers en teamleden presenteren op een aansprekende manier hun onderzoek over verschillende aspecten van de geschiedenis. Programma’s en onderwerpen die op de Publieksdagen zijn gepresenteerd zijn te vinden in Archieven: Publieksdagen (doorverwijzen met een link). Daarnaast worden er ook lezingen gehouden, bijvoorbeeld in de TongTongFair of bij specifieke bijeenkomsten.</p>

<h3>Rubrieken op de website en Facebook</h3>
<p>
Op de website van het CIHC worden allerlei aspecten van de geschiedenis getoond in de rubrieken Foto met Verhaal, Tradities & Cultuur en Schenkingen. In ‘Foto met Verhaal’ kan door het publiek een persoonlijke foto ingestuurd worden met een bijbehorend verhaal. Hiermee wordt de gangbare geschiedschrijving aangevuld met persoonlijke verhalen. Foto’s die zijn gepubliceerd gingen onder andere over school, internaat, een basketbalteam, een familiehuis, huispersoneel, de Tweede Wereldoorlog, het verkrijgen van het Nederlanderschap. De Engelse versies van Foto met Verhaal worden op Facebook In de rubriek ‘Tradities & Cultuur’ worden uiteenlopende onderwerpen behandeld zoals kleding, eetgewoonten, rituelen bij huwelijk en overlijden en Chinese feesten. In de rubriek ‘Schenkingen’ worden de schenkingen getoond en het belang/de betekenis van de schenking in het kort beschreven.</p>
<br>
</div> 

{% endblock %}