{% extends "base.html" %}
{% block content %}


<h3 class="page_header">Edit word to dictionairy</h3>



<div class="green white-text">
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_word', word_id=word._id) }}">
            <div class="row">
                <div class="input-field col s8">
                    <input value="{{  word.word }}" id="word" name="word" 
                    minlength="3" maxlength="50" type="text" class="validate" required>
                    <label for="word">Word in Chinese or Bahasa Indonesia</label>
                </div>

            <div class="input-field col s4">
                    <select class="icons" value="{{  word.slc }}" id="slc" name="slc">
                        <option value="" disabled selected>{{  word.slc }}</option>
                        <option value="CHI" data-icon="CHI.png" class="left">CHI</option>
                        <option value="IND" data-icon="/IND.jpg" class="left">IND</option>
                    </select>
                    <label for="slc">Language</label>
                </div>
                <div class="input-field col s8">
                    <input value="{{  word.translation }}" id="translation" name="translation" 
                    minlength="3" maxlength="50" type="text" class="validate">
                    <label for="translation">Translation</label>
                </div>

                 <div class="input-field col s4">
                    <select class="icons" value="{{  word.tlc }}" id="tlc" name="tlc">
                        <option value="" disabled selected>{{  word.tlc }}</option>
                        <option value="EN" data-icon="../images/EN.png" class="left">EN</option>
                        <option value="NL" data-icon="/images/NL.png" class="left">NL</option>
                    </select>
                    <label for="tlc">Language</label>
                </div>
                <div class="input-field col s12">
                    <input id="meaning" name="meaning" value="{{ word.meaning }}"
                    minlength="3" maxlength="300" type="text" class="validate">
                    <label for="meaning">Meaning</label>
                </div>

                <div class="input-field col s12">
                    <select placeholder="{{ category.category_name }}" id="category_name" name="category_name" class="validate" class="materialize-textarea"> 
                    {% for category in category %}
                        <option value="{{ category.category_name }}" disabled selected>{{ category.category_name }}</option>
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                    </select>
                    <label>Category</label>
                </div>

                <div class="input-field col s12">
                    <textarea value="{{  word.usage }}" id="usage" name="usage" class="materialize-textarea">{{  word.usage }}</textarea>
                    <label for="usage">url</label>
                </div>
                <div class="col s12">
                    <button class="btn waves-effect green waves-grey" type="submit" name="" id="message">Change
                        <i class="material-icons right">send</i>
                    </button>
                </div>
      </div>
    </form>
        </div>
        </div>
        </form>
    </div>
  </div> 
{% endblock %}